body {
    color: #666;
    font-size: 14px;
    line-height: 1.6em;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto', sans-serif;
    padding-top: 70px;
}

h1,
h2,
h3,
h4,
h3,
h5,
h6 {
    font-weight: 400;
    color: #222;
    padding: 0;
    margin: 0 0 15px 0;
    line-height: 1.2em;
    font-family: 'Circular', sans-serif;
}

.text-black {
    color: #2a2929c2;
}

.border-lightgary {
    border-color: lightgray;
}

.transition-y {
    transition: .3s ease;
}

.transition-y:hover {
    transition: .3s ease;
    transform: translate3d(0, -5px, 0);
    box-shadow: 0px 6px 4px rgb(0, 0, 0, 0.24);
}

.bgc-1 {
    position: relative;
    background-image: url('../img/bgc-1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 300px;
}

.bgc-1::before {
    content: '';
    position: absolute;
    background-color: #0000004d;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.bgc-1-content {
    position: absolute;
    left: 90px;
    width: 50%;
    top: 170px;
}

.bgc-2 {
    background-image: url('../img/bgc-2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 300px;
}

.bgc-2::before {
    content: '';
    position: absolute;
    background-color: #00000082;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.font-1 {
    font-size: 3.75rem;
}

.fs-18 {
    font-size: 1.125rem;
}

.fs-15 {
    font-size: 0.937rem;
}

.prev-next {
    border-radius: 50%;
    border: 1px solid #000000c4;
    background-color: #000000c4;
    padding: 20px;
}

.btn-w {
    min-width: 150px;
    text-align: center;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid white;
    font-size: 1rem;
}

.btn-w-blue {
    border: 1px solid #488bf8;
    background-color: #488bf8;
    color: white;
}

.ml-auto {
    margin: 0 auto;
}

.mr-auto {
    margin: 0 auto;
}

.icon-next {}

.learMore {
    text-decoration: none;
    color: #222;
    border-bottom: 2px solid #dee2e6;
    transition: 2s ease;
    font-weight: 700;
}

.learMore:hover {
    color: #222;
    border-bottom: 2px solid #222;
    transition: 2s ease;
}

.reuniao {
    background-image: url('../img/reuniao.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    position: absolute;
    left: 15px;
    top: 16px;
    color: white;
    font-size: 2.5rem;
}

.icon-modal {
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 1;
    right: -16px;
    top: -16px;
}

.b {
    border-radius: 50%;
    background: #b7b7b7;
    padding: 10px;
}